# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
.env
.env.*
# If you named your virtual env .venv, include it too
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
db.sqlite3
/media
/staticfiles
/static_root

# PyCharm
.idea/

# VSCode
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# OS files
.DS_Store
Thumbs.db
